config cgminer 'default'
        option pool1url  'stratum+tcp://stratum.slushpool.com:3333'
        option pool1user 'wareck.gekko'
        option pool1pw   'x'
	option pool2url  'stratum+tcp://ispace.co.uk:4443#skipcbcheck#xnsub'
        option pool2user 'wareck.openwrt'
	option pool2pw   'x'
        option pool3url  'stratum+tcp://sha256.eu.nicehash.com:3333#xnsub'
        option pool3user '16F8V2EnHCNPVQwTGLifGHCE12XTnWPG8G'
	option pool3pw	 'x'
	option pool_balance	'  '
	option cf1              '100'
        option cf2              '150'
	option cf3		'150'
	option api_allow	'W:127.0.0.1'
	option more_options	''
	option ntp_enable	'disable'
